
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:black;
}
    .circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        mix-blend-mode: screen;
        position: absolute;
        margin-top:30px;
      }
      
      .circle1 {
        background: red;
      }
      
      .circle2 {
        background: lightgreen;
        left: 40px;
      }
      
      .circle3 {
        background: blue;
        left: 20px;
        top: 40px;
      }
      
      .mix-blend {
        isolation: mix-blend; /* Without isolation, the background color will be taken into account */
        position: relative;
      }
      .space
      {
        padding:20px;
      }
      
      .text
      {
        max-width:1000px;
        color:white;
        font-family:cursive;
        font-size:20px;
        margin-top:150px;
      }